.app{
    width: 1000px;
    margin: 0 auto;

}
img{
    width: 100%;
    object-fit: cover;
    
}
main{
    margin: 0 auto;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.game-card{
    width: 250px;
    flex: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
.game-card:hover{
    cursor: pointer;
}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paginate-btns{
    display: flex;
    justify-content: center;
}