.app{
    width: 80%;
    margin: 0 auto;

}
img{
    width: 100%;
    object-fit: cover;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    margin-block-end: 5px;
    margin-inline-end: 5px;
}
.card-game{
    padding: 0 !important;
    height: 300px !important;
    
}
.card-text{
    font-size:12px;

}
.card:hover{
    cursor: pointer;
}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paginate-btns{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.page-link{
    cursor: pointer;
}
.container-fluid{
max-height: 800px;
}